.image {
    border-radius: 5%;
    width: 100%;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


body {
    display: flex;
    background-color: #efe1d5;
    justify-content: center;
}

* {font-family: "Outfit", sans-serif;}

h1 {
     font-family: "Young Serif", serif;
}

.white {
    background-color: white;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 8%;
    margin-bottom: 8%;
    padding: 3%;
    border-radius: 3%;
}

.list{ display: flex; flex-direction: column;}

.list-items {display: flex; flex-direction: row; justify-content: space-between;}     

.prep-time {background-color: #fff7fc; }

.prep-time h3{ color: hsl(332, 51%, 32%);}
li { color:hsl(332, 51%, 32%)}
li span {color: black; margin: 15px;}
h2 { color: hsl(14, 45%, 36%);}